{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_coursegen/preview_book_toc

    A previewed book's table of contents, ported from
    mod/book/locallib.php book_get_toc(). A book nests chapters one level
    deep, into subchapters, which is why this template is two loops rather
    than a recursive one.

    Context variables required for this template:
    * numberingclass - string, one of the book_toc_* classes.
    * chapters - array of {id, title, titleunescaped, cssclass, iscurrent,
                 url, hassubchapters, subchapters}. Each subchapter has the
                 same {id, title, titleunescaped, cssclass, iscurrent, url}
                 shape.
}}
<div class="book_toc {{numberingclass}} clearfix">
    <ul>
        {{#chapters}}
        <li>
            {{#iscurrent}}<strong class="{{cssclass}}">{{{title}}}</strong>{{/iscurrent}}
            {{^iscurrent}}<a href="{{{url}}}" title="{{titleunescaped}}" class="{{cssclass}}">{{{title}}}</a>{{/iscurrent}}
            {{#hassubchapters}}
            <ul>
                {{#subchapters}}
                <li>
                    {{#iscurrent}}<strong class="{{cssclass}}">{{{title}}}</strong>{{/iscurrent}}
                    {{^iscurrent}}<a href="{{{url}}}" title="{{titleunescaped}}" class="{{cssclass}}">{{{title}}}</a>{{/iscurrent}}
                </li>
                {{/subchapters}}
            </ul>
            {{/hassubchapters}}
        </li>
        {{/chapters}}
    </ul>
</div>
