{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_coursegen/preview_select

    A plain select box, shared by every previewed module that used to build
    one with html_writer::select().

    Context variables required for this template:
    * id - string, used as both the id and the name.
    * options - array of {value, label}.
}}
<select id="{{id}}" name="{{id}}" class="select custom-select">
    {{#options}}
    <option value="{{value}}">{{label}}</option>
    {{/options}}
</select>
