{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_coursegen/preview_lesson_menu

    A previewed lesson's page menu, ported from
    mod/lesson/locallib.php lesson_menu_block_contents().

    Context variables required for this template:
    * skiplabel - string.
    * pages - array of {selected, title, url}.
}}
<a href="#maincontent" class="accesshide">{{skiplabel}}</a>
<div class="menuwrapper">
    <ul>
        {{#pages}}
        {{#selected}}<li class="selected">{{{title}}}</li>{{/selected}}
        {{^selected}}<li class="notselected"><a href="{{{url}}}">{{{title}}}</a></li>{{/selected}}
        {{/pages}}
    </ul>
</div>
