{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_coursegen/template_add_menu

    Body of a "+" trigger's native Bootstrap dropdown-menu: the two things an
    admin can add at that position, in the style of the course page's own
    add menu. Rendered into the trigger's sibling .dropdown-menu by
    local/template/template_instance_menu.js.

    Data attributes required for JS:
    * data-action="local_coursegen/template/menu-from-template" | "local_coursegen/template/menu-add-space" on each item.

    Context variables:
    * none

    Example context (json):
    {}
}}
<button type="button" class="dropdown-item d-flex align-items-center tpl-add-menu-item" role="menuitem"
        data-action="local_coursegen/template/menu-from-template">
    <span class="tpl-add-menu-icon mr-2" aria-hidden="true">{{#pix}} t/copy, core {{/pix}}</span>
    <span>{{#str}} template_add_instance, local_coursegen {{/str}}</span>
</button>
<button type="button" class="dropdown-item d-flex align-items-center tpl-add-menu-item" role="menuitem"
        data-action="local_coursegen/template/menu-add-space">
    <span class="tpl-add-menu-icon mr-2" aria-hidden="true">{{#pix}} t/add, core {{/pix}}</span>
    <span>{{#str}} template_add_space, local_coursegen {{/str}}</span>
</button>
