.local_coursegen-edit_template .local_coursegen-template_action {
    border: 0;
    padding: 0;
}

.local_coursegen-edit_template [data-region="local_coursegen/template/instruction-text"] {
    min-height: 5rem;
    resize: vertical;
}

.local_coursegen-edit_template .activityicon {
    width: 24px;
    height: 24px;
}
